/*------------------------------*
 Table of content
 *------------------------------*
 * # Header
 * # content
 * ## Home
 * ## Words
 * ## Not found
 * ## Lists
 * # Forms
 * # Buttons
/*------------------------------*/



/*-------------------------------*/
/* Header
/*-------------------------------*/

#header {
  text-align: center;
}

.home-page-wrapper {
  margin: 0 auto;
  margin-top: 50px;

  max-width: 500px;
  min-width: 310px;

  text-align: center;
}

.logo-wrap {
  text-align: center;
}

.site-name {
  font: normal 42px 'Forum', Georgia, Times, serif;
}

/*-------------------------------*/
/* Content -- Lists
/*-------------------------------*/

.list-item article {
  text-align: justify;
}

.list-word {
  margin: 0;
  padding: 0;
}


/*-------------------------------*/
/* link
/*-------------------------------*/

.link {
  color: #222;
  text-decoration: none;
}

.link-more {
  border-bottom: 1px dotted;
}

/*-------------------------------*/
/* Form
/*-------------------------------*/

.form-group {
  position: relative;
}

.form-control {
  border-radius: 0;
}

.form-input-search {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 20px;
}

/*-------------------------------*/
/* Buttons
/*-------------------------------*/

.btn-search {
  color: #ffffff;
  background: #000000;
  border-radius: 0;
}

.btn-icon {
  font-size: 24px;
}

/*-------------------------------*/
/* Pages
/*-------------------------------*/

.page h1 {
  font: 24px 'Forum', Georgia, Times, serif;
}

.page-not-found {
  text-align: center;
  font: 15px 'Forum', Georgia, Times, serif;
}

.page-not-found h1 {
  margin-bottom: 0;
  font-size: 84px;
}

.page-not-found p {
  font-size: 24px;
}

.page-not-found hr {
  width: 30%;
}

.block-center {
  display: inline-block;
}
