/*------------------------------*
 Table of content
 *------------------------------*
 * # Header
 * # content
 * ## Home
 * ## Words
 * ## Not found
 * ## Lists
 * # Forms
 * # Buttons
/*------------------------------*/
/* Basic
/*------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

/*-------------------------------*/
/* Header
/*-------------------------------*/

#header {
  margin-bottom: 50px;
  text-align: center;
}

.home-page-wrapper {
  margin: 0 auto;
  margin-top: 50px;

  max-width: 500px;
  min-width: 310px;

  text-align: center;
}

.logo-wrap {
  text-align: center;
}

.logo-wrap hr {
  width: 10%;
  border-color: #222222;
}

.site-name {
  font: normal 32px 'Forum', Georgia, Times, serif;
}

.page-name {
  font: normal 42px 'Forum', Georgia, Times, serif;
}

.header-menu-top {
  text-align: left;
}

.header-menu-top ul {
  margin-bottom: 20px;
  padding: 0;
}

.header-menu-top li {
  display: inline-block;
  list-style: none;
}

.header-menu-top a {
  color: #222;
}

.header-menu-top a:hover {
  text-decoration: none;
  border-bottom: 1px dotted;
}

/*-------------------------------*/
/* Content -- Lists
/*-------------------------------*/

.list-item article {
  text-align: justify;
}

.list-word {
  margin: 0;
  padding: 0;
}

.letter-list {
  text-align: center;
}

.letter-list ul {
  padding: 0;
}

.letter-list li {
  display: inline-block;
  margin-right: 15px;
}

.letter-list li a {
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.sitemap .list-word {
  margin-top: 50px;
}

.sitemap .list-word a {
  color: #222222;
}

/*-------------------------------*/
/* link
/*-------------------------------*/

.link {
  color: #222;
  text-decoration: none;
}

.link-more {
  border-bottom: 1px dotted;
}

/*-------------------------------*/
/* Form
/*-------------------------------*/

.form-group {
  position: relative;
}

.form-input-search {
  height: 48px;
  border-radius: 0;
}

.form-input-search {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 20px;
}

/*-------------------------------*/
/* Buttons
/*-------------------------------*/

.btn-search {
  color: #ffffff;
  background: #000000;
  border-radius: 0;
}

.btn-icon {
  font-size: 24px;
}

/*-------------------------------*/
/* Pages
/*-------------------------------*/

.page h1 {
  font: 24px 'Forum', Georgia, Times, serif;
}

.page-not-found {
  text-align: center;
  font: 15px 'Forum', Georgia, Times, serif;
}

.page-not-found h1 {
  margin-bottom: 0;
  font-size: 84px;
}

.page-not-found p {
  font-size: 24px;
}

.page-not-found hr {
  width: 30%;
}

.block-center {
  display: inline-block;
}
