/*------------------------------*
 Table of content
 *------------------------------*
 * # Basic
 * # Header
 * # content
 * ## Home
 * ## Words
 * ## Not found
 * ## Lists
 * # Forms
 * # Buttons
 *------------------------------*
 * Basic
/*------------------------------*/

body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  /*width: 1170px;*/
  margin: 15px auto;
}

/*-------------------------------*/
/* Header
/*-------------------------------*/

#header {
  text-align: center;
}

.home-page-wrapper {
  margin: 0 auto;
  margin-top: 50px;

  max-width: 500px;
  min-width: 310px;

  text-align: center;
}

.logo-wrap {
  text-align: center;
}

.site-name {
  font: normal 42px 'Forum', Georgia, Times, serif;
}

/*-------------------------------*/
/* Content -- Lists
/*-------------------------------*/

.list-item article {
  text-align: justify;
}


/*-------------------------------*/
/* link
/*-------------------------------*/

.link {
  color: #222;
  text-decoration: none;
}

.link-more {
  border-bottom: 1px dotted;
}

/*-------------------------------*/
/* Form
/*-------------------------------*/

.form-group {
  position: relative;
}

.form-control {
  display: block;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;

  outline: none;
  border: 1px solid #ccc;

  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-sizing: border-box;
}

.form-input-search {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 20px;
}

/*-------------------------------*/
/* Buttons
/*-------------------------------*/

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btn-primary {
  color: #ffffff;
  background: #000000;
}

.btn-icon {
  font-size: 24px;
}

/*-------------------------------*/
/* Pages
/*-------------------------------*/

.page h1 {
  font: 24px 'Forum', Georgia, Times, serif;
}

.page-not-found {
  text-align: center;
  font: 15px 'Forum', Georgia, Times, serif;
}

.page-not-found h1 {
  margin-bottom: 0;
  font-size: 84px;
}

.page-not-found p {
  font-size: 24px;
}

.page-not-found hr {
  width: 30%;
}

.block-center {
  display: inline-block;
}
