doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Forum&subset=cyrillic,latin')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #page
      header#header
      section#content
        block content