doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Forum&subset=cyrillic,latin')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #page.container
      header#header
        .logo-wrap
          a(href="/")
            img(src="/img/logo.jpg", alt="Толковый словарь", title="Толковый словарь", width="200").header-logo
          p.site-name Толковый словарь
      section#content
        block content

    //- Script block
    script(data-main="/js/site/bundle.js", src="/js/libs/require.min.js")
